# Parte 1 - Análise Exploratória: Diagnosticando Diabetes

Neste projeto, você imaginará que é um cientista de dados interessado em explorar dados que analisam como certos fatores de diagnóstico afetam o resultado do diabetes em pacientes mulheres.

Você usuará suas Análise Exploratória para inspecionar, limpar e validar os dados.

**Observação**: Este [conjunto de dados](https://www.kaggle.com/uciml/pima-indians-diabetes-database) contém as seguintes colunas:

- `Pregnancies`: Número de gravidezes
- `Glucose`: Concentração de glicose plasmática por 2 horas em um teste oral de tolerância à glicose
- `BloodPressure`: Pressão sanguínea diastólica
- `SkinThickness`: Espessura da dobra cutânea do tríceps
- `Insulin`: insulina sérica de 2 horas
- `BMI`: Índice de massa corporal
- `DiabetesPedigreeFunction`: Função hereditária do diabetes
- `Age`: Anos de idade)
- `Outcome`: variável de classe (0 ou 1)

## Inspeção Inicial

1. Primeiro, familiarize-se com o conjunto de dados [aqui](https://www.kaggle.com/uciml/pima-indians-diabetes-database) . 
    
    Observe cada uma das nove colunas da documentação. 
    
    O que você espera que cada tipo de dados seja?

Tipo de dados esperado para cada coluna:

- `Pregnancies`: números inteiros 
- `Glucose`: números inteiros
- `BloodPressure`: números inteiros
- `SkinThickness`: números inteiros
- `Insulin`: números inteiros
- `BMI`: números decimais
- `DiabetesPedigreeFunction`: números decimais
- `Age`: números inteiros
- `Outcome`: número 0 ou 1

2. Em seguida, vamos carregar os dados de diabetes para começar a explorar.

    Carregue os dados em uma variável chamada `diabetes_data` e imprima as primeiras linhas.

    **Nota** : Os dados são armazenados em um arquivo chamado `diabetes.csv`.

In [143]:
import pandas as pd
import numpy as np

# ler os dados
diabetes_data = pd.read_csv('diabetes.csv')
diabetes_data.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

3. Quantas colunas (recursos) os dados contêm?

In [144]:
# imprime o número de colunas
numero_colunas = len(diabetes_data.columns)
numero_colunas

9

4. Quantas linhas (observações) os dados contêm?

In [145]:
# imprime o número de linhas
numero_linhas = len(diabetes_data.index)
numero_linhas

768

## Inspeção Adicional

5. Vamos inspecionar mais o `diabetes_data`.

    Alguma das colunas nos dados contém valores nulos (ausentes)?

In [146]:
# descubra se as colunas contêm valores nulos
diabetes_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

6. Para investigar mais, calcule estatísticas resumidas sobre `diabetes_data` usando o método .describe().

In [147]:
# imprime estatísticas resumidas
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

7. Observando as estatísticas resumidas, você percebe algo estranho nas colunas a seguir?

- `Glucose`
- `BloodPressure`
- `SkinThickness`
- `Insulin`
- `BMI`

**Sua resposta para pergunta 7**:

Analisando essa descrição notei o nível máximo de Insulina, que é muito maior em relação aos máximos das outras colunas. Também notei o disparado enorme que tem a Insulina em pessoas com mais de 40 anos de idade (no percentil de 75%). O resto me parece estar caminhando de forma linear.

8. Vamos ver se podemos obter uma visão mais precisa dos valores ausentes nos dados.

In [148]:
# substitua instâncias de 0 por NaN
diabetes_data = diabetes_data.replace(0, np.nan)

9. Em seguida, verifique se há valores ausentes (nulos) em todas as colunas, assim como você fez na Etapa 5.

    Agora, quantos valores faltantes existem?

In [149]:
# descubra se as colunas contêm valores nulos após as substituições serem feitas
diabetes_data.isnull().sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

10. Vamos dar uma olhada mais de perto nessas linhas para ter uma ideia melhor de por que alguns dados podem estar faltando.

    Mostre todas as linhas que contêm valores ausentes (nulos).

In [150]:
# mostre as linhas com valores ausentes
diabetes_data[diabetes_data.isnull().any(axis=1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116.0,74.0,NaN,NaN,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
761,9.0,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9.0,89.0,62.0,NaN,NaN,22.5,0.142,33,0
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,0
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,0

11. Em seguida, dê uma olhada nos tipos de dados de cada coluna em `diabetes_data`.

    O resultado corresponde ao que você esperaria?

    Sim, do ponto de vista de tipagem (depois de verificar com a função ".info()"), a maioria dos dados são de tipo número (float64), e também há uma predominância de valores nulos na coluna Insulina.

In [151]:
# mostre os tipos dos dados usando o método .info()
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               657 non-null    float64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(7), int64(1), object(1)
memory usage: 54.1+ KB

12. Para descobrir por que a `Outcome` coluna é do tipo `object`(string) em vez do tipo `int64`, imprima os valores exclusivos na `Outcome` coluna.

In [159]:
# imprime os valores únicos da coluna Outcome
convert_outcome_values_to_int = lambda outcome_value: int(str(outcome_value).replace('O', '0'))

diabetes_data['Outcome'] = diabetes_data['Outcome'].apply(convert_outcome_values_to_int)

diabetes_data['Outcome']

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

13. Como você pode resolver esse problema?

**Sua resposta à pergunta 13:**

Utilizei uma função anônima para converter cada valor da coluna Outcome em um número inteiro, removendo as ocorrências da letra "O" do dataframe.

# Parte 2 - Análise Exploratória - Titanic

In [153]:
import matplotlib.pyplot as plt 
import seaborn as sns

titanic = pd.read_csv('titanic.csv')

Um novo conjunto de dados nomeado `titanic`foi carregado. Esses dados contêm informações sobre os passageiros do Titanic, incluindo o valor que pagaram pela passagem e se sobreviveram ou não. Vamos investigar se existe uma associação entre a tarifa que um passageiro pagou (`Fare`) e se ele sobreviveu ou não (`Survived`, que é igual a `0` se o passageiro morreu e `1` se sobreviveu):

- Calcule a diferença na tarifa média paga pelos que sobreviveram e pelos que morreram. Qual grupo pagou uma tarifa média mais alta?

- Calcule a diferença na tarifa mediana para aqueles que sobreviveram e aqueles que morreram.

- Crie um histograma da coluna idade para visualizar a distribuição das idades dos passageiros.

- Crie gráficos boxplot lado a lado de tarifas por sobrevivência. Agora que você pode ver a disseminação dos dados, as diferenças média/mediana parecem relativamente pequenas ou grandes?

- Calcule a matriz de correlação. Existe correlações entre as variáveis?

- Crie gráficos de disperção para melhor visualizar a correlação entre variáveis

- Use suas habilidades e apresente outras análises que ajudaram a entender melhor os dados

# Fim